<!-- Validation failure messages -->
<% if @milestone.errors.any? %>
  <% @milestone.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Milestone</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_milestone" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <input name="user_id" type="hidden" value="<%= current_user.id %>">

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Campus Recruiting Start Date
        </label>
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' class="form-control" name="date" id="campus_recruiting_start">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <script type="text/javascript">
        $(function () {
          $('#datetimepicker1').datetimepicker({
            format: 'YYYY-MM-DD'
          });
        });
      </script>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Closed Events Start Date
        </label>
      <div class='input-group date' id='datetimepicker2'>
        <input type='text' class="form-control" name="date" id="closed_events_start">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <script type="text/javascript">
        $(function () {
          $('#datetimepicker2').datetimepicker({
            format: 'YYYY-MM-DD'
          });
        });
      </script>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Bankweek
        </label>
      <div class='input-group date' id='datetimepicker3'>
        <input type='text' class="form-control" name="date" id="bankweek">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <script type="text/javascript">
        $(function () {
          $('#datetimepicker3').datetimepicker({
            format: 'YYYY-MM-DD'
          });
        });
      </script>
      </div>

      <!-- Label and input for date -->
      <div class="form-group">
        <label for="date" class="control-label">
          Interviews Start
        </label>
      <div class='input-group date' id='datetimepicker4'>
        <input type='text' class="form-control" name="date" id="interviews_start">
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>

      <script type="text/javascript">
        $(function () {
          $('#datetimepicker4').datetimepicker({
            format: 'YYYY-MM-DD'
          });
        });
      </script>
      </div>
      <button class="btn btn-success">
        Create Milestone
      </button>
      or
      <a href="/milestones">Cancel</a>
    </form>
  </div>
</div>
